.modal-top-title {
  background: #effff4;

  color: #008a45;
}
.close-btn-modal {
  background-color: #effff4;
  position: relative;
  left: 78%;
  top: 5%;
}

.modal-header {
  font-size: 14px;
}
.main-group {
  border: 1px solid rgb(233, 225, 225);
}
.name {
  border-left: none;
  border-top: none;
}
.name-2 {
  border-right: none;
  border-top: none;
}
.from-style {
  border-top: none;
  border-left: none;
  border-right: none;
}
.eye-btn {
  border-bottom: 1px solid rgb(233, 225, 225);
}
.last-input {
  border-bottom: none;
}
.create-account-btn {
  background-color: #2f6ce5;
  color: white;
  font-weight: 600;
  width: 100%;
}
.singnInBtn {
  border: none;
  background-color: white;
  font-weight: 600;
  color: #2f6ce5;
}
.privacy-text {
  font-size: 11px;
  margin-top: 44%;
}
@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 736px;
    margin: 1.75rem auto;
  }
}
