.modal-top-title {
  background: #effff4;

  color: #008a45;
}
.close-btn-modal {
  background-color: #effff4;
  position: relative;
  left: 78%;
  top: 32%;
}

.modal-header {
  font-size: 14px;
  display: block;
}
@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 736px;
    margin: 1.75rem auto;
  }
}
