.banner {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../../../assets/Rectangle\ 2.png");
  /* max-width: 100%; */
  background-size: 100% 100%;
  /* object-fit: cover; */
  background-repeat: no-repeat;
  height: 440px;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .banner {
    object-fit: cover;
  }
}
